.cardClass{
  border: 3px solid black;
  border-radius: 0;
}

.buttonArea {
  display: flex;
}

.searchButton {
  margin-left: auto;
  border-radius: 0;
  background-color: white;
  color: black;
  border: 1px solid black;
  box-shadow: 4px 4px 1px 2px black;
}
